@use "../models/global-styles.scss" as *;

.header-container {
  display: grid;
  grid-template-columns: 5rem 1fr;
  color: $ORANGE;
  text-align: center;

  @media (min-width: $mobile-threshold) {
    grid-template-columns: 3rem 1fr;
  }
  .back-button {
    color: $SEA;
    font-size: 3rem;
    margin-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;

    &:hover {
      color: $DARKERSEA;
    }
  }
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: space-around;
  margin: auto;
  width: 80vw;
  max-width: 1500px;
  padding: 0;
  border-radius: 1rem;
}

.text-box {
  display: flex;
  align-self: center;
  justify-content: center;
  text-align: center;
  margin: 1rem;
  color: $ORANGE;
  font-size: 2rem;
}

.scroll-to-top {
  position: fixed;
  bottom: 0;
  right: 1rem;
  color: $SEA;
  font-size: 4rem;
  &:hover {
    color: $DARKERSEA;
  }
}
