@use "../models/global-styles.scss" as *;

.movie-list {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: space-around;
  margin: auto;
  width: 80vw;
  padding: 0;
  border-radius: 1rem;
}

.text-box {
  display: flex;
  align-self: center;
  justify-content: center;
  color: $ORANGE;
  font-size: 2rem;
}

.back-button {
  display: flex;
  align-self: center;
  justify-content: center;
  color: $SEA;
  margin: 1rem;
  font-size: 3rem;
  &:hover {
    color: $DARKERSEA;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 0;
  right: 1rem;
  color: $SEA;
  font-size: 4rem;
  &:hover {
    color: $DARKERSEA;
  }
}
