@use "../models/global-styles.scss" as *;

.welcome-text {
  display: flex;
  align-self: center;
  justify-content: space-around;
  text-align: center;
  background-clip: text;
  padding-top: 5rem;
  padding-bottom: 5rem;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0.2);
  background-image: repeating-linear-gradient(
    -45deg,
    $ORANGE 0vw 1vw,
    $BROWN 1vw 2vw,
    $DARKERSEA 2vw 3vw,
    $SEA 4vw 5vw
  );

  b {
    margin: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 9vmin;
  }
}
