@use "../models/global-styles.scss" as *;

.chip {
  display: flex;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0.9rem;
  background-color: $BROWN;
  color: white;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.2rem 1rem 0.2rem 1rem;
  margin: 0.2rem;

  font-size: 1.6rem;
  &:hover {
    background-color: $BROWN;
  }
  & > p {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 1rem;
    margin: 0;
    margin-left: 0.5rem;

    &:hover {
      background-color: $BROWN !important;
    }
  }
  & > svg {
    background-color: $BROWN;

    &:hover {
      background-color: $BROWN !important;
    }
  }
}
