.poster-container {
  //   width: 60%;
  //   max-width: 4rem;
  height: 100%;
  display: inline-block;
}
.poster {
  height: 100%;
  display: inline-block;
}

.text-container {
  display: inline-block;
}

.title {
  display: block;
}
.year {
  display: block;
}
.submit {
}
