@use "../models/global-styles.scss" as *;

.anchor-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  a {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-decoration: none;
    :hover {
      background-color: $DARKERSEA;
    }
  }
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-self: center;
  color: $ORANGE;
  min-width: 40vw;
  max-width: 60vw;
  background-color: $GRAY;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  text-align: justify;
  @media (min-width: $mobile-threshold) {
    min-width: 15vw;
    max-width: 20vw;
  }
}

.poster-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.poster {
  width: 100%;
  margin: auto;
  border-radius: 1rem;
}
.chip-container {
  position: absolute;
  left: 0;
  top: 0;
}
.text-container {
  display: inline-block;
}

.title {
  display: block;
  text-decoration: none;
}
.year {
  display: block;
}
