.movie-list {
  list-style-type: none;
  background: green;
  width: 70vw;
  margin: auto;
  padding: 0;
}

.movie-list-item {
  height: 10rem;
  border-top: solid 1px;
  margin-top: 1px;
  padding: 1rem;
}
