@use "../models/global-styles.scss" as *;

.search-box {
  border-radius: 1rem;
  background-color: $BACKGROUNDGRAY;
  padding: 1rem;
  width: 80vw;
  margin: auto;
  margin-top: 1rem;
  min-width: 18rem;
  form {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
  }
}

.form-title-control {
  flex-grow: 4;
  margin: 0.5rem;
  input {
    box-sizing: border-box;
    padding: 14px 20px;
    width: 100%;
    &::-webkit-input-placeholder {
      color: black;
    }
    &::-moz-placeholder {
      color: black;
    }
    &:-ms-input-placeholder {
      color: black;
    }
    &::-ms-input-placeholder {
      color: black;
    }
    &::placeholder {
      color: black;
    }
  }
}

.type-year-wrapper {
  flex-grow: 2;
  display: flex;
  flex-wrap: wrap;
}

.form-type-control {
  flex-grow: 1;
  margin: 0.5rem;
  min-width: 15rem;
  select {
    width: 100%;
    box-sizing: border-box;
    padding: 14px 20px;
    display: inline-block;
  }
}

.form-year-control {
  flex-grow: 1;
  margin: 0.5rem;
  min-width: 15rem;
  input {
    box-sizing: border-box;
    padding: 14px 20px;
    width: 100%;
    &::-webkit-input-placeholder {
      color: black;
    }
    &::-moz-placeholder {
      color: black;
    }
    &:-ms-input-placeholder {
      color: black;
    }
    &::-ms-input-placeholder {
      color: black;
    }
    &::placeholder {
      color: black;
    }
  }
}
.form-submit-control {
  flex-grow: 1;
  margin: 0.5rem;
  min-width: 15rem;
  input {
    box-sizing: border-box;
    background-color: $ORANGE;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;

    &:hover {
      background-color: $BROWN;
    }
  }
}
