@use "../models/global-styles.scss" as *;

.stat-row {
  display: grid;
  grid-template-areas:
    "key"
    "value";
  grid-template-rows: auto auto;
  width: auto;
  height: auto;
  margin: 1rem;
  &:last-of-type {
    margin-bottom: 0;
  }
  line-height: 2rem;
  text-align: center;
}

.stat-key {
  grid-area: key;
  background-color: $BROWN;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  color: white;
}

.stat-value {
  grid-area: value;
  border: 5px solid $BROWN;
  background-color: $BACKGROUNDGRAY;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
