/* Color Theme Swatches in Hex */
$DARKBLUE: #253659;
$DARKERSEA: #03a696;
$SEA: #04bf9d;
$ORANGE: #f28157;
$BROWN: #bf665e;
$BACKGROUNDGRAY: #f2f2f2;
$GRAY: rgb(65, 65, 65);
$mobile-threshold: 768px;
$full-view-threshold: 1200px;
